[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
nltk = "*"
speechrecognition = "*"
requests = "*"
beautifulsoup4 = "*"
nbconvert = "*"
h5py = "*"
ipykernel = "*"
split-folders = "*"
jupyter-http-over-ws = "*"
keras-tuner = "*"
tensorflow-addons = "*"
seaborn = "*"
ipynb = "*"
lxml = "==4.8.0"
torchvision = "*"
torch = "*"
scipy = "*"
matplotlib = "*"
plotly = "*"
numpy = "*"
pandas = "*"
d2l = "*"
scikit-learn = "*"
pylint = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.9"
